    body {
        font-family: 'Poppins', sans-serif;
    }
    
    nav h3 {
        color: rgb(207, 22, 201);
        margin-left: 5%;
    }
    
    nav {
        display: flex;
        justify-content: space-between;
    }
    
    nav ul {
        display: flex;
        justify-content: center;
    }
    
    nav ul li {
        list-style-type: none;
        margin: 10px;
    }
    
    nav ul li a {
        text-decoration: none;
        color: rgb(226, 99, 67)
    }
    
    .orange {
        color: orange;
    }
    
    h1 {
        font-size: 50px;
        margin: 0;
    }
    
    .container {
        display: flex;
        align-items: center;
    }
    
    .half-width {
        width: 50%;
        padding: 5%;
        /* margin-top: 10%; */
    }
    
    .half-width {
        width: 50%;
    }
    
    p {
        margin-bottom: 80px;
    }
    
    .order-here {
        text-decoration: none;
        padding: 20px 40px;
        padding: 20px;
        border-radius: 20px;
        color: white;
        background-image: linear-gradient(orange, red);
    }
    
    .second img {
        width: 47%;
    }
    
    .second {
        display: flex;
        background-image: url(images/7.png);
        background-repeat: no-repeat;
    }
    
    .contact {
        text-decoration: none;
        padding: 20px 30px;
        background-image: linear-gradient(rgb(219, 45, 152), rgba(248, 190, 135, 0.109));
        border-radius: 15px;
    }
    
    .peragraph {
        height: 300px;
        width: 50%;
        margin-left: 350px;
        text-align: center;
    }
    
    .List_item {
        display: flex;
        justify-content: space-around;
    }
    
    .iteam {
        width: 200px;
        height: 500px;
        border-radius: 20px;
        flex-grow: 1;
        margin: 10px 50px 50px 50px;
        text-align: center;
        box-shadow: 5px 10px 10px 10px rgb(235, 209, 209);
    }
    
    .List_item img {
        height: 200px;
        width: 250px;
        margin: 50px 50px 50px 50px;
        border-radius: 20px;
    }
    
    .reponse {
        display: flex;
        justify-content: space-around;
        margin: auto;
        height: 150px;
        width: 93%;
        box-shadow: 1px 1px 2px 2px rgb(238, 222, 222);
        margin-bottom: 80px;
    }
    
    .last_section {
        height: 150px;
        background-color: rgb(189, 175, 175);
        text-align: center;
    }
    
    .last_section h2 {
        padding-top: 20px;
    }
    
    footer {
        text-align: center;
        background-color: rgba(231, 42, 190, 0.61);
    }